<input
  #searchInput
  appInputDirective
  [highlightColor]='highlightColor'
  type="text"
>

<button
  appSearch
  [numberOfClicks]="numberOfClicks"
>
  Click me
</button>

<!-- <div *ngIf="isInputEmpty"> -->
  <ul>
    <li *ngFor="let comment of searchService.comments$ | async | sort:byEmail | asyncObsFilter:input.nativeElement.value">{{ comment.email }}</li>
  </ul>
<!-- </div> -->

<!-- <div *ngIf="!isInputEmpty">
  <ul>
    <li *ngFor="let arr of newArr | sort:byEmail">{{ arr.email }}</li>
  </ul>
</div> -->

<!-- <select
  [(ngModel)]='selectedValue'
  class='form-control'
>
  <option
    [value]="arr"
    *ngFor="let arr of newArr"
  >{{ arr }}</option>
</select> -->
